<!DOCTYPE html>
<html>
    <head>
        <title>Контексто</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            <textarea name="input_word" placeholder="Введите слово"></textarea>
            <input id="button" type="submit" value="Проверить">
        </form>

        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <br><br>
        {{ pair_for_asked }}
        <br><br>
        {% for pair in user_guesses %}
            {{ pair }}<br>
        {% endfor %}
</html>